{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/dvguestbook/js/jquery-2.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dvguestbook/js/js.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dvguestbook/js/ajax.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row reviews-list">
            <h1>Guest Book!</h1>
            <table>
                <thead>
                <tr>
                    <td>Author</td>
                    <td>Date</td>
                    <td>Website</td>
                    <td>Comment</td>
                    <td>Rating</td>
                </tr>
                </thead>
                <tbody>
                {% for review in reviews %}
                    <tr>
                        <td>{{ review.author() }}</td>
                        <td>{{ review.date().format('Y-m-d') }}</td>
                        <td>{{ review.website() }}</td>
                        <td>{{ review.comment() }}</td>
                        <td>{{ review.rating() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="row form navbar-fixed-bottom">
                {{ form(form, { 'attr': {'class': 'form'}}) }}☆
            </div>
        </div>
    </div>
{% endblock %}

