h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 60px;
}

/*GUESTBOOK list*/
table {
    margin: auto;
    height: 200px;
}

.reviews-list {
    margin: 0 0 30px 0;
}

td, th {
    padding:5px 20px 1px 5px;
    border-bottom: 1px solid #000;
}

thead {
    background-color: #f0f0f0;
}

.review-id {
    display: none;
}

.fb-like {
    display: inline-block;
    margin: 0 0 5px 0;
}

.twitter-share-button {
    vertical-align: top;
}

#twitter-widget-0 {
    height: 20px;
    width: 53px;
    margin-right: 0;
}
/*end GUESTBOOK*/


/*FORM style*/
form {
    text-align: center;
    padding: 10px 0 40px 0;
    background-color: #f8f8f8;

}

#form div {
    width: 250px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    height: 60px;
}

#form div:first-child {
    margin: 0 -35px 0 0;
}

#form #form_save {
    margin: 20px 0 0 0;
}

.required {
    display: block;
    margin: 10px 0 5px 0;
    color: #888;
}

#form_rating > .required {
    display: inline-block;
}

textarea {
    height: 26px;
    width: 250px;
    resize: none;
}

#form_rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}

#form_rating input {
    display: none;
}

#form_rating label:before {
    display: inline-block;
    position: relative;
    width: 11px;
}

#form_rating > label:hover:before,
#form_rating > label:hover ~ label:before {
    content: "\2605";
    position: absolute;
}

input[type="radio"]:checked ~ input[type="radio"] + label {
    color: #000000;
}
/*end FORM*/

/*FOOTER*/
.footer {
    background-color: #f8f8f8;
    padding: 10px 0 10px 0;
    width: 100%;
}
/*end FOOTER*/
